<li><%= link_to "Vacancies", moderator_vacancies_path, class: cp_sub(moderator_vacancies_path) %></li>
<li><%= link_to "Resumes", moderator_resumes_path, class: cp_sub(moderator_resumes_path) %></li>
<li><%= link_to "Users", moderator_users_path, class: cp_sub(moderator_users_path) %></li>
<li><%= link_to "Pricelists", pricelists_path, class: cp_sub(moderator_users_path) %></li>