<h3>Восстановление учетной записи</h3>
<p>
Для восстановления учетной записи проследуйте по ссылке:
</p>
<p>
<%= link_to password_change_url(recover_link: @recover.link), password_change_url(recover_link: @recover.link) %>
</p>
<p>
С уважением, <%= link_to "Job4Fun.Ru", home_url %>.
</p>