<h3>Активация</h3>
<p>
Для активации вашей учетной записи пройдите по следующей ссылке:
</p>
<p>
<%= link_to activation_url(act_link: @activation.link), activation_url(act_link: @activation.link) %>
</p>
<p>
С уважением, <%= link_to "Job4Fun.Ru", home_url %>.
</p>