<li><%= link_to "Подписки", user_subscriptions_path, class: cp_sub(user_subscriptions_path) %></li>
<li><%= link_to "Редактирование профиля", user_profile_path, class: ["sub_nav_last", cp_sub(user_profile_path)] %></li>