<li><%= link_to "Новых событий: #{resp_count}", responses_path, class: cp_sub(responses_path) %></li>
<li><%= link_to "Отклики на вакансии (#{vacancy_resp_count})", vacancy_responses_path, class: cp_sub(vacancy_responses_path) %></li>
<li><%= link_to "Отклики на резюме (#{resume_resp_count})", resume_responses_path, class: cp_sub(resume_responses_path) %></li>