<li><%= link_to "Создать компанию", new_company_path, class: sub_active_ca?("companies", "new") %></li>
<li><%= link_to "Мои компании", companies_path, class: ["sub_nav_last", cp_sub(companies_path)] %></li>