<div class="container_12">
	<ul class="tabs">
		<li><%= link_to "Все компании", companies_path %></li>
    </ul>
<div class="tab_container">
	<div id="tab2" class="tab_content">
		<h2>Создание новой компании</h2>
<%= render 'form' %>
	</div>
</div>
</div>