$.flash_notice("Please, activate your account.", 10);
$('div.notification.information.canhide').fadeIn("slow");
//$('<div class="notification information canhide"><p><strong></strong>Test</p></div>').appendTo("#main_content_wrap div:first");